.emojiTheme {
  display: none;
}

.theme-spacegray {
  .emojiTheme.hand-mediumlight {
    display: initial;
  }
}

.theme-greeny {
  .emojiTheme.hand-mediumdark {
    display: initial;
  }
}

.theme-daisy {
  .emojiTheme.hand-medium {
    display: initial;
  }
}

.theme-pinky {
  .emojiTheme.hand-dark {
    display: initial;
  }
}

.theme-aqua {
  .emojiTheme.hand-light {
    display: initial;
  }
}

.theme-purple {
  .emojiTheme.hand {
    display: initial;
  }
}
