.emojiTheme {
  display: none;
}

.theme-christmas {
  .emojiTheme.hand-mediumlight {
    display: initial;
  }
}

.theme-fallguys {
  .emojiTheme.hand-mediumdark {
    display: initial;
  }
}

.theme-midnightgreen {
  .emojiTheme.hand-medium {
    display: initial;
  }
}

.theme-spacegray {
  .emojiTheme.hand-dark {
    display: initial;
  }
}

.theme-twitter {
  .emojiTheme.hand-light {
    display: initial;
  }
}

.theme-reddead {
  .emojiTheme.hand {
    display: initial;
  }
}
