.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  background-color: var(--secondary-content);
  padding: 2rem;
  text-align: center;
  color: var(--primary);
}

.footer a {
  color: var(--primary-focus);
}
