.mainnav {
  margin: 1rem auto;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
}

.mainnav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.mainnav ul ul {
  flex-direction: column;
}

.mainnav li {
  list-style-type: none;
}

.mainnav a,
.menu[class*="p-"] li a {
  padding: 0.3rem 1rem;
  display: block;
  border-bottom: 1px solid var(--secondary-content);
  border-radius: 0 !important;
}

.mainnav a:hover,
.mainnav a:focus {
  border-color: var(--secondary-focus);
}
